<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Confirmation</title>
  <style>
    body {
      color: #f5f5f5; /* Light background color */
      background-color: #333; /* Text color */
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Choose a suitable font */
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh; /* Make sure the content is centered vertically */
      text-align: center;
    }

    h1 {
      color: #f5f5f5; /* Text color for the heading */
    }
  </style>
</head>

<body>
  <div>
    <h1>Thank you for submitting your information!</h1>
  </div>
</body>

</html>